<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Diversity Results</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Organization</th>
          <th>Email</th>
          <th>Result</th>
          <th>Section 1 Avg</th>
          <th>Section 2 Avg</th>
          <th>Section 3 Avg</th>
          <th>Section 4 Avg</th>
          <th>Section 5 Avg</th>
          <th>Section 6 Avg</th>
          <th>Section 7 Avg</th>
        </tr>
      </thead>

      <tbody>
        <% @respondents.each do |respondent| %>
          <tr>
            <td> <%= respondent.id %> </td>
            <td> <%= respondent.organization %></td>
            <td> <%= respondent.user_email %></td>
            <% if respondent.responses.any? %>
              <td><%= link_to 'Link', respondent_response_path(respondent, respondent.responses.first) %></td>
            <% elsif  %>
              <td> - </td>
            <% end %>
            <% if respondent.responses.any? %>
              <% respondent.responses.first.section_one.each do |score| %>
              <% @section_one_score += score[1].to_i  %>
              <% end %>
              <td> <%= @section_one_score/5 %> </td>

              <% respondent.responses.first.section_two.each do |score| %>
              <% @section_two_score += score[1].to_i  %>
              <% end %>
              <td> <%= @section_two_score/15 %> </td>

              <% respondent.responses.first.section_three.each do |score| %>
              <% @section_three_score += score[1].to_i  %>
              <% end %>
              <td> <%= @section_three_score/6 %> </td>

              <% respondent.responses.first.section_four.each do |score| %>
              <% @section_four_score += score[1].to_i  %>
              <% end %>
              <td> <%= @section_four_score/15 %> </td>

              <% respondent.responses.first.section_five.each do |score| %>
              <% @section_five_score += score[1].to_i  %>
              <% end %>
              <td> <%= @section_five_score/4 %> </td>

              <% respondent.responses.first.section_six.each do |score| %>
              <% @section_six_score += score[1].to_i  %>
              <% end %>
              <td> <%= @section_six_score/6 %> </td>

              <% respondent.responses.first.section_seven.each do |score| %>
              <% @section_seven_score += score[1].to_i  %>
              <% end %>
              <td> <%= @section_seven_score/4 %> </td>

            <% elsif  %>
              <td> - </td>
            <% end %>
            <% if @section_one_score > 0 %>
              <% @section_one_score = 0
                @section_two_score = 0
                @section_three_score = 0
                @section_four_score = 0
                @section_five_score = 0
                @section_six_score = 0
                @section_seven_score = 0%>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
